<div class="container">
<section class="layout-row align-items-center  justify-content-between">
    <label for="">Celcius: </label>
    <input type="number" [(ngModel)]="c" (ngModelChange)="onChange($event,'c')">
</section>
<section class="layout-row align-items-center  justify-content-between">
    <label for="">Farenheit: </label>
    <input type="number" [(ngModel)]="f" (ngModelChange)="onChange($event,'f')">
</section>
<section class="layout-row align-items-center  justify-content-between">
    <label for="">USD</label><input type="number" [(ngModel)]="e" (ngModelChange)="testing($event,'e')">
</section>
<section class="layout-row align-items-center  justify-content-between">
    <label for="">INR</label><input type="number" [(ngModel)]="n" (ngModelChange)="testing($event,'n')"> 
</section>
  </div>


  
  



